<!DOCTYPE html>

{% extends "base.html" %}
{% block title %}
    Portal crowdfundingowy
{% endblock %}

{% block content %}
<div class="container" >
        <div class="col-md-6">
            <label>Wpisz kwotę, którą chcesz przeznaczyć na ten projekt. Kwota może być wyższa, niż ta podana w wybranej nagrodzie.</label>
                <div class="input-append">
                    <form method='post' class="form-horizontal"  action="">
                    {% csrf_token %}
                    <table>
                    {{ formset }}
                    </br>
                    </table>
                        </br>
                    <input type="submit" class="btn btn-default" value="Wspieram ten projekt!">
                    </form>
                </div>
            </br>
        <p style="font-size:16px;">Lista nagród, które możesz wybrać:</p>

            <table class="table table-striped">
                {% for perk in perk_list %}
                <tr>
              <td><label>Wesprzyj kwotą {{ perk.amount }} lub więcej</label>
                <p style="font-size:16px;">Otrzymujesz:</p>
                {% for per in choice_perk_list %}
                    {% if per.amount <= perk.amount %}
              <p style="font-size: 16px; color:#3299CC;">{{ per.title }}</p>
              {{ per.description }}</br>
               {% endif %}
             {% endfor %}
              </td>
                </tr>
             {% endfor %}
            </table>

         </div>

     <div class="col-md-6">


     </div>
</div>
{% endblock %}